In [16]:
import geopandas as gpd
import pandas as pd
import numpy as np
import seaborn as sns
from pathlib import Path

In [42]:
nombre_columnas = [ 'PRODUCCION ANUAL (t)', 'SUPERFICIE CULTIVADA TOTAL ha', 'SUPERFICIE CULTIVADA COSECHADA ha', 'RENDIMIENTO (kg x ha)', 'PRECIO EN CHACRA (S/ x Kg)' ]
carpeta_datos = Path().resolve() / 'produccion_distritos_csvs/'

In [39]:
test_csv = carpeta_datos / 'tarata_2021.csv'

In [46]:
pd.read_csv(test_csv, sep=';', skiprows=4)

,NRO. ORDEN,CULTIVO,PRODUCCION ANUAL (t),SUPERFICIE CULTIVADA ha. (*),Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,RENDIMIENTO\n(kg x ha),PRECIO EN CHACRA\n(S/. x kg)
0,NaN,NaN,NaN,TOTAL,NaN,COSECHADA,CRECIMIENTO,NaN,NaN,NaN
1,TOTAL PROVINCIAL:,NaN,"52,798","3,109",NaN,"3,084",NaN,25,NaN,NaN
2,CULTIVOS TRANSITORIOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01,AJO,18,2,NaN,2,NaN,-,"9,000",7.00
4,02,ARVEJA GRANO VERDE,114,16,NaN,16,NaN,-,"7,125",4.83
5,03,HABA GRANO VERDE,269,32,NaN,32,NaN,-,"8,406",1.57
6,04,MAIZ AMILACEO,"1,345",439,NaN,439,NaN,-,"3,064",5.78
7,05,MAIZ CHOCLO,797,53,NaN,53,NaN,-,"15,038",3.09
8,06,PAPA,"2,787",124,NaN,124,NaN,-,"22,476",1.32
9,07,ZAPALLO,250,11,NaN,11,NaN,-,"22,727",2.22
10,EMIPERMANENTE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,08,OREGANO,"1,991",416,NaN,416,NaN,-,"4,786",12.58
12,S PERMANENTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,09,ALFALFA,"42,843","1,757",NaN,"1,757",NaN,-,"24,384",0.24
14,10,CIROLERO,122,24,NaN,20,NaN,4,"6,100",5.79
15,11,DAMASCO,28,6,NaN,4,NaN,2,"7,000",13.00
16,12,HIGUERA,30,6,NaN,6,NaN,-,"5,000",2.00
17,13,MANZANO,451,52,NaN,49,NaN,3,"9,204",1.63
18,14,MELOCOTONERO,31,7,NaN,6,NaN,1,"5,167",3.00
19,15,MEMBRILLERO,49,5,NaN,5,NaN,-,"9,800",1.76
20,16,PALTO,36,10,NaN,4,NaN,6,"9,000",6.00
21,17,PERAL,226,41,NaN,40,NaN,1,"5,650",3.52
22,18,TUNA,"1,411",108,NaN,100,NaN,8,"14,110",2.13